h1 {
  text-align: center;
}
.todo-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  text-align: center;
  padding: 3em;
}
.todo {
  padding: 1.5em;
  color: white;
  background: green;
}
@media screen and (max-width: 600px) {
  .todo-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
